---
import Title from "../layouts/title.astro"
import Footer from "../layouts/footer.astro"
import Nav from "../layouts/nav.astro"
---
<!DOCTYPE html>
<html lang="en-US" class="yes-js js_active js scheme_default">
    <head>
        <Title/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="images/cropped-512x512-90x90.png" sizes="32x32"/>

        <link rel='stylesheet' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/template-color.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all'/>
    </head>

    <body class="page-template-default page scheme_default body_style_wide expand_content no_layout">
        <div class="body_wrap">
            <div class="page_wrap">
<Nav></Nav>
                <div class="page_content_wrap scheme_default">
                    <div class="content_wrap">
                        <div class="content">
                            <article class="post_item_single post_type_page page type-page">
                                <div class="post_content entry-content">
                                    <section class="no_pt xs_block">
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column-inner">
                                                    <div class="columns_wrap">
                                                        <div class="column_container column-1_6 sc_layouts_column_icons_position_left">
                                                            <div class="column-inner">
                                                                <div class="text_column"></div>
                                                            </div>
                                                        </div><div class="column_container column-4_6 sc_layouts_column_icons_position_left">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="scheme_dark sc_promo sc_promo_default sc_promo_size_large sc_promo_image_position_left">
                                                                        <div class="sc_promo_image bg_promo-3 w_50per l_0"></div>
                                                                        <div class="sc_promo_text w_50per f_right">
                                                                            <div class="sc_promo_text_inner sc_align_center bg_pink">
                                                                                <div class="sc_promo_content sc_item_content">
                                                                                    <div class="empty_space h-1_4em"><span class="empty_space_inner"></span></div>
                                                                                    <figure>
                                                                                        <div><img src="images/promo-2.png" alt="" /></div>
                                                                                    </figure>
                                                                                    <div class="empty_space h-2_25em"><span class="empty_space_inner"></span></div>
                                                                                    <div class="text_column">
                                                                                        <h5>Somos<br />
                                                                                            Lencería</h5>
                                                                                        <p><span class="white">En <strong>Divina Lencería</strong>, somos un equipo apasionado por crear lencería que celebra la feminidad en todas sus formas. Nos dedicamos a ofrecer productos de alta calidad que combinan comodidad, estilo y sensualidad, diseñados para mujeres que buscan sentirse seguras y hermosas cada día. Creemos que cada mujer merece dedicarse tiempo para consentirse y destacarse, y nuestra misión es acompañarlas en ese viaje, ofreciéndoles piezas que se adapten a su estilo de vida y realcen su esencia única. ¡Porque en Divina Lencería, tú eres lo más importante!</span></p>
                                                                                    </div>
                                                                                    <div class="empty_space h-1_3em"><span class="empty_space_inner"></span></div>
                                                                                    <figure>
                                                                                        <div><img src="images/promo-3.png" alt="" /></div>
                                                                                    </figure>
                                                                                    <div class="empty_space h-2_55em"><span class="empty_space_inner"></span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.sc_promo_text -->
                                                                    </div>
                                                                    <!-- /.sc_promo -->
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_6 sc_layouts_column_icons_position_left">
                                                            <div class="column-inner">
                                                                <div class="text_column"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">   
                                                    <div class="column-inner">
                                                        <div class="empty_space hide_on_mobile h-2em"><span class="empty_space_inner"></span></div>
                                                        <div class="empty_space h-4_6em"><span class="empty_space_inner"></span></div>
                                                        <div class="text_column">
                                                            <div class="sc_title sc_title_default">
                                                                <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">Marcas</h2>
                                                                <div class="sc_item_descr sc_title_descr sc_align_center">Un toque de tela nunca se sintió tan sexy</div>
                                                            </div>
                                                            <!-- /.sc_title -->
                                                        </div>
                                                        <div class="empty_space h-3_5em"><span class="empty_space_inner"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="no_pt">
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column-inner">
                                                    <div class="columns_wrap">
                                                        <div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="brd-1px_grey">
                                                                        <figure class="align_center">
                                                                            <a href="#"><img src="images/2.png" alt="" /></a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="brd-1px_grey">
                                                                        <figure class="align_center">
                                                                            <a href="#"><img src="images/4.png" alt="" /></a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="brd-1px_grey">
                                                                        <figure class="align_center">
                                                                            <a href="#"><img src="images/7.png" alt="" /></a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="brd-1px_grey">
                                                                        <figure class="align_center">
                                                                            <a href="#"><img src="images/3.png" alt="" /></a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section> 
                                    <section class="no_pt">
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column-inner">
                                                    <div class="columns_wrap">
                                                        <div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column">
                                                                    <div class="brd-1px_grey">
                                                                        <figure class="align_center">
                                                                            <a href="#"><img src="images/1.png" alt="" /></a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                        <div class="column-inner">
                                                            <div class="text_column">
                                                                <div class="brd-1px_grey">
                                                                    <figure class="align_center">
                                                                        <a href="#"><img src="images/5.png" alt="" /></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                            </div>
                                                        </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                        <div class="column-inner">
                                                            <div class="text_column">
                                                                <div class="brd-1px_grey">
                                                                    <figure class="align_center">
                                                                        <a href="#"><img src="images/8.png" alt="" /></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                            </div>
                                                        </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                        <div class="column-inner">
                                                            <div class="text_column">
                                                                <div class="brd-1px_grey">
                                                                    <figure class="align_center">
                                                                        <a href="#"><img src="images/6.png" alt="" /></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="empty_space h_30px"><span class="empty_space_inner"></span></div> 
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">   
                                                    <div class="column-inner">
                                                        <div class="empty_space hide_on_mobile h-2em"><span class="empty_space_inner"></span></div>
                                                        <div class="empty_space h-2_3em"><span class="empty_space_inner"></span></div>
                                                        <div class="text_column">
                                                            <div class="widget_area sc_widget_video">
                                                                <aside class="widget widget_video">
                                                                    <div class="trx_addons_video_player with_cover hover_play">
                                                                        <img src="images/bg_video-870x490.jpg" alt="" >
                                                                        <div class="video_mask"></div>
                                                                        <div class="video_hover" data-video="&lt;iframe src=&quot;https://player.vimeo.com/video/21709803?autoplay=1&quot; width=&quot;640&quot; height=&quot;352&quot; frameborder=&quot;0&quot; title=&quot;Lingerie&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen&gt;"></div>
                                                                        <div class="video_embed video_frame"></div>
                                                                    </div>
                                                                </aside>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- .entry-content -->
                            </article>
                        </div>
                        <!-- </.content> -->
                    </div>
                    <!-- </.content_wrap> -->
                </div>
                <!-- </.page_content_wrap> -->
                
                <Footer>
                </Footer>

                <!-- /.footer_wrap -->
            </div>
            <!-- /.page_wrap -->
        </div>
        <!-- /.body_wrap -->

        <div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
            <ul class="trx_addons_tabs_titles">
                <li class="trx_addons_tabs_title trx_addons_tabs_title_login">
                    <a href="#trx_addons_login_content"><i class="trx_addons_icon-lock-open"></i>Login</a>
                </li><li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
                <a href="#trx_addons_register_content"><i class="trx_addons_icon-user-plus"></i>Register</a>
                </li>
            </ul>	
            <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
                <div>
                    <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
                        <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="#" method="post" name="trx_addons_login_form">
                            <input type="hidden" id="redirect_to" name="redirect_to" value="">
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                                <label class="sc_form_field sc_form_field_log required">
                                    <span class="sc_form_field_wrap"><input type="text" name="log" id="log" value="" >
                                        <span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i>
                                            <span class="sc_form_field_content" data-content="Login">Login</span>
                                        </span>	
                                    </span>
                                </label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                                <label class="sc_form_field sc_form_field_pwd required">
                                    <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="" >
                                        <span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i>
                                            <span class="sc_form_field_content" data-content="Password">Password</span>
                                        </span>	
                                    </span>
                                </label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                                <a href="#" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
                                <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                <label for="rememberme"> Remember me</label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                                <input type="submit" class="submit_button" value="Login">
                            </div>
                            <div class="trx_addons_message_box sc_form_result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type='text/javascript' src='js/vendor/jquery-3.2.1.min.js'></script>
        <script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
        <script type='text/javascript' src='js/custom/shortcodes.js'></script>
        <script type='text/javascript' src='js/vendor/superfish.js'></script>
        <script type='text/javascript' src='js/custom/_main.js'></script>
        <script type='text/javascript' src='js/custom/_utils.js'></script>
        <script type='text/javascript' src='js/custom/_init.js'></script>

        <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
    </body>
</html>