---
import Title from "../layouts/title.astro"
import Footer from "../layouts/footer.astro"
import Navhome from "../layouts/navhome.astro"
---
<!DOCTYPE html>
<html lang="es-CO" class="yes-js js_active js scheme_default">
    <head>
        <Title/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="/images/cropped-512x512-90x90.png" sizes="32x32"/>

        <link rel='stylesheet' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all'/>  
        <link rel='stylesheet' href='css/font-face/arkanaregular/stylesheet.css' type='text/css' media='all' />
        <link rel='stylesheet' href='js/vendor/wc-secondary-product-thumbnail/assets/css/style.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/revslider/public/assets/css/settings.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/theme.hovers/theme.hovers.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/js/chosen/chosen.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/css/front.css' type='text/css' media='all' />
        <link rel='stylesheet' href='css/template-color.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all'/>
    </head>
    
    <body class="home page-template-default page frontpage scheme_default blog_mode_home body_style_wide blog_style_excerpt expand_content remove_margins no_layout">
        <div class="body_wrap">
            <div class="page_wrap">
<Navhome></Navhome> 
                <div class="page_content_wrap scheme_default">
                    <div class="content_wrap">
                        <div class="content">
                            <article class="post_item_single post_type_page page type-page">
                                <div class="post_content entry-content">
                                    <section>
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">   
                                                    <div class="column-inner">
                                                        <div id="mainslider_1" class="rev_slider_wrapper fullwidthbanner-container rev_slider_global slider_alias_rsl1" data-source="gallery" >
                                                            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                                                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner d_none" data-version="5.3.0.2">
                                                                <ul>
                                                                    <!-- SLIDE  1-->
                                                                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/slider_1_bg_1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                                        <!-- MAIN IMAGE -->
                                                                        <img src="/images/slider_1_bg_1.jpg" alt="" title="slider_1_bg_1" width="1170" height="652" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                        <!-- LAYERS -->
                                                                        <!-- LAYER NR. 1 -->
                                                                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" 
                                                                             id="slide-1-layer-2" 
                                                                             data-x="center" 
                                                                             data-hoffset="-331" 
                                                                             data-y="center" 
                                                                             data-voffset="-5" 
                                                                             data-width="['106']" 
                                                                             data-height="['506']" 
                                                                             data-type="shape" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['inherit','inherit','inherit','inherit']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" > 
                                                                        </div>
                                                                        <!-- LAYER NR. 2 -->
                                                                        <div class="tp-caption trx-main tp-resizeme other-font" 
                                                                             id="slide-1-layer-1" 
                                                                             data-x="center" 
                                                                             data-hoffset="-322" 
                                                                             data-y="center" 
                                                                             data-voffset="-3" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="text" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" >Historia<br/> de Amor 
                                                                        </div>
                                                                        <!-- LAYER NR. 3 -->
                                                                        <div class="tp-caption trx-button-main rev-btn" 
                                                                             id="slide-1-layer-4" 
                                                                             data-x="center" 
                                                                             data-hoffset="-330" 
                                                                             data-y="center" 
                                                                             data-voffset="209" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="button" 
                                                                             data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/shop","delay":""}]' 
                                                                             data-responsive_offset="on" 
                                                                             data-responsive="off" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bs:solid;bw:0 0 0 0;"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" >Ver más 
                                                                        </div>
                                                                    </li>
                                                                    <!-- SLIDE 2 -->
                                                                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/slider_1_bg_2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                                        <!-- MAIN IMAGE -->
                                                                        <img src="images/slider_1_bg_2.jpg" alt="" title="slider_1_bg_2" width="1170" height="652" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                        <!-- LAYERS -->
                                                                        <!-- LAYER NR. 1 -->
                                                                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" 
                                                                             id="slide-2-layer-2" 
                                                                             data-x="center" 
                                                                             data-hoffset="-253" 
                                                                             data-y="center" 
                                                                             data-voffset="1" 
                                                                             data-width="['105']" 
                                                                             data-height="['409']" 
                                                                             data-type="shape" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['inherit','inherit','inherit','inherit']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" > 
                                                                        </div>
                                                                        <!-- LAYER NR. 2 -->
                                                                        <div class="tp-caption trx-main tp-resizeme other-font" 
                                                                             id="slide-2-layer-1" 
                                                                             data-x="center" 
                                                                             data-hoffset="-244" 
                                                                             data-y="center" 
                                                                             data-voffset="-15" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="text" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" >Sleeping<br/> Beauty 
                                                                        </div>
                                                                        <!-- LAYER NR. 3 -->
                                                                        <div class="tp-caption trx-button-main rev-btn" 
                                                                             id="slide-2-layer-4" 
                                                                             data-x="center" 
                                                                             data-hoffset="-253" 
                                                                             data-y="center" 
                                                                             data-voffset="134" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="button" 
                                                                             data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/shop","delay":""}]' 
                                                                             data-responsive_offset="on" 
                                                                             data-responsive="off" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bs:solid;bw:0 0 0 0;"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]">Ver más 
                                                                        </div>
                                                                    </li>
                                                                    <!-- SLIDE  3-->
                                                                    <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/slider_1_bg_3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                                        <!-- MAIN IMAGE --> 
                                                                        <img src="images/slider_1_bg_3.jpg" alt="" title="slider_1_bg_3" width="1170" height="652" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                        <!-- LAYERS -->
                                                                        <!-- LAYER NR. 1 --> 
                                                                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" 
                                                                             id="slide-4-layer-2" 
                                                                             data-x="center" 
                                                                             data-hoffset="271" 
                                                                             data-y="center"
                                                                             data-voffset="-5" 
                                                                             data-width="['106']" 
                                                                             data-height="['506']" 
                                                                             data-type="shape" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['inherit','inherit','inherit','inherit']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" > 
                                                                        </div>
                                                                        <!-- LAYER NR. 2 --> 
                                                                        <div class="tp-caption trx-main tp-resizeme other-font" 
                                                                             id="slide-4-layer-1" 
                                                                             data-x="center" 
                                                                             data-hoffset="272" 
                                                                             data-y="center" 
                                                                             data-voffset="-10" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="text" 
                                                                             data-responsive_offset="on" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" >Sexy<br/> Little<br/> Things 
                                                                        </div>
                                                                        <!-- LAYER NR. 3 --> 
                                                                        <div class="tp-caption trx-button-main rev-btn" 
                                                                             id="slide-4-layer-4" 
                                                                             data-x="center" 
                                                                             data-hoffset="270" 
                                                                             data-y="center" 
                                                                             data-voffset="206" 
                                                                             data-width="['auto']" 
                                                                             data-height="['auto']" 
                                                                             data-type="button" 
                                                                             data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/shop","delay":""}]' 
                                                                             data-responsive_offset="on" 
                                                                             data-responsive="off" 
                                                                             data-frames='[{"delay":0,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bs:solid;bw:0 0 0 0;"}]' 
                                                                             data-textAlign="['center','center','center','center']" 
                                                                             data-paddingtop="[0,0,0,0]" 
                                                                             data-paddingright="[0,0,0,0]" 
                                                                             data-paddingbottom="[0,0,0,0]" 
                                                                             data-paddingleft="[0,0,0,0]" >Ver más 
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="tp-bannertimer tp-bottom vis_hid"></div>
                                                            </div>
                                                        </div>
                                                        <div class="empty_space h_30px"><span class="empty_space_inner"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section> 
                                    <section class="margin_on">
                                        <div class="content_container">
                                            <div class="column_row">
                                                <div class="column-equal-height column-content-middle column-flex">
                                                    <div class="column_container column-7_12 sc_layouts_column_icons_position_left scr_xs">
                                                        <div class="column-inner mb-20px">
                                                            <div class="sc_action sc_action_default" data-slides-min-width="250">
                                                                <div class="sc_action_content sc_item_content">
                                                                    <div class="sc_action_item sc_action_item_default with_image sc_action_item_tl bg_promo-2">
                                                                        <div class="sc_action_item_mask"></div>
                                                                        <div class="sc_action_item_inner">
                                                                            <h3 class="sc_action_item_title"><span>Tangas sexys</span></h3>
                                                                            <div class="sc_action_item_description"><span>piezas divertidas y coquetas para un<br/></span><span>look sin costuras</span></div><a href="shop" class="sc_action_item_link">Descubre la comodidad que mereces</a>
                                                                        </div>
                                                                        <!-- /.sc_action_item_inner -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.sc_action -->    
                                                        </div>
                                                    </div><div class="extra_height column_container column-5_12 sc_layouts_column_icons_position_left scr_xs">
                                                    <div class="column-inner bg_banner">
                                                        <div class="text_column bg_white_with_spaces">
                                                            <h2 class="fsz_2em m_0 fw_400 align_center"><a href="shop"><b><span class="accent">Envíos gratis</span></b><br />
                                                                en pedidos mayores <br />
                                                                a $50.000</a>
                                                            </h2>    
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">   
                                                    <div class="column-inner">
                                                        <div class="empty_space h-5em"><span class="empty_space_inner"></span></div>
                                                        <div class="sc_title sc_title_default">
                                                            <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">Lo debes tener</h2>
                                                            <div class="sc_item_descr sc_title_descr sc_align_center">Encuentra tu lencería perfecta en solo 3 pasos</div>
                                                        </div>
                                                        <!-- /.sc_title -->
                                                        <div class="empty_space h-2_3em"><span class="empty_space_inner"></span></div>
                                                        <div class="woocommerce columns-5">
                                                            <ul class="products wcspt-products">
                                                                <li class="product type-product wcspt-has-gallery">
                                                                    <div class="post_item post_layout_thumbs">
                                                                        <div class="post_featured hover_shop_buttons">
                                                                            <a href="shop-single" class="wcspt-img-link">
                                                                                <img src="images/product-19-300x410.jpg" alt="product-19" title="product-19" />
                                                                                <img src="images/product-17-300x410.jpg" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" /> 
                                                                            </a>
                                                                            <div class="mask"></div>
                                                                            <div class="icons">
                                                                                <a href="shop-single" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable">Comprar Ya</a>
                                                                                <a href="shop-single" class="shop_link button icon-link">Detallar</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.post_featured -->
                                                                        <div class="post_data">
                                                                            <div class="post_header entry-header">
                                                                                <h3><a href="shop-single">Halter Bodysuit</a></h3>
                                                                                <div class="star-rating" title="Rated 5 out of 5"><span class="w_100per"><strong class="rating">5</strong> out of 5</span></div>
                                                                            </div>
                                                                            <!-- /.post_header -->
                                                                            <span class="price">
                                                                                <span class="woocs_price_code"><span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">53<span class="no-decimals">.000</span></span>&ndash;<span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">59<span class="no-decimals">.000</span></span>
                                                                                </span>
                                                                            </span>
                                                                            <a href="shop-single" class="button product_type_variable add_to_cart_button">Comprar Ya</a> 
                                                                        </div>
                                                                        <!-- /.post_data -->
                                                                    </div>
                                                                    <!-- /.post_item -->
                                                                </li>
                                                                <li class="product type-product wcspt-has-gallery">
                                                                    <div class="post_item post_layout_thumbs">
                                                                        <div class="post_featured hover_shop_buttons">
                                                                            <a href="shop-single" class="wcspt-img-link">
                                                                                <img src="images/product-16-300x410.jpg" alt="product-16" title="product-16" />
                                                                                <img src="images/product-15-300x410.jpg" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" /> 
                                                                            </a>
                                                                            <div class="mask"></div>
                                                                            <div class="icons">
                                                                                <a href="shop-single" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable">Comprar Ya</a>
                                                                                <a href="shop-single" class="shop_link button icon-link">Detallar</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.post_featured -->
                                                                        <div class="post_data">
                                                                            <div class="post_header entry-header">
                                                                                <h3><a href="shop-single">Sexy Long Line Plunge Bra and Sexy Thong</a></h3>
                                                                            </div>
                                                                            <!-- /.post_header -->
                                                                            <span class="price">
                                                                                <span class="woocs_price_code"><span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">52<span class="no-decimals">.000</span></span>&ndash;<span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">58<span class="no-decimals">.000</span></span>
                                                                                </span>
                                                                            </span>
                                                                            <a href="shop-single" class="button product_type_variable add_to_cart_button">Comprar Ya</a> 
                                                                        </div>
                                                                        <!-- /.post_data -->
                                                                    </div>
                                                                    <!-- /.post_item -->
                                                                </li>
                                                                <li class="product type-product wcspt-has-gallery">
                                                                    <div class="post_item post_layout_thumbs">
                                                                        <div class="post_featured hover_shop_buttons">
                                                                            <a href="shop-single" class="wcspt-img-link">
                                                                                <img src="images/product-11-300x410.jpg" alt="product-11" title="product-11" />
                                                                                <img src="images/product-12-300x410.jpg" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" /> 
                                                                            </a>
                                                                            <div class="mask"></div>
                                                                            <div class="icons">
                                                                                <a href="shop-single" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable">Comprar Ya</a>
                                                                                <a href="shop-single" class="shop_link button icon-link">Detallar</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.post_featured -->
                                                                        <div class="post_data">
                                                                            <div class="post_header entry-header">
                                                                                <h3><a href="shop-single">Smooth Raw Cut Hiphugger</a></h3>
                                                                                <div class="star-rating" title="Rated 5 out of 5"><span class="w_100per"><strong class="rating">5</strong> out of 5</span></div>
                                                                            </div>
                                                                            <!-- /.post_header -->
                                                                            <span class="price">
                                                                                <span class="woocs_price_code"><span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">66<span class="no-decimals">.000</span></span>&ndash;<span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">72<span class="no-decimals">.000</span></span>
                                                                                </span>
                                                                            </span>
                                                                            <a href="shop-single" class="button product_type_variable add_to_cart_button">Comprar Ya</a> 
                                                                        </div>
                                                                        <!-- /.post_data -->
                                                                    </div>
                                                                    <!-- /.post_item -->
                                                                </li>
                                                                <li class="product type-product wcspt-has-gallery">
                                                                    <div class="post_item post_layout_thumbs">
                                                                        <div class="post_featured hover_shop_buttons">
                                                                            <a href="shop-single" class="wcspt-img-link">
                                                                                <img src="images/product-18-300x410.jpg" alt="product-18" title="product-18" />
                                                                                <img src="images/product-19-300x410.jpg" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" /> 
                                                                            </a>
                                                                            <div class="mask"></div>
                                                                            <div class="icons">
                                                                                <a href="shop-single" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable">Comprar Ya</a>
                                                                                <a href="shop-single" class="shop_link button icon-link">Detallar</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.post_featured -->
                                                                        <div class="post_data">
                                                                            <div class="post_header entry-header">
                                                                                <h3><a href="shop-single">Strapless Bikini Top &#038; Bottom</a></h3>
                                                                                <div class="star-rating" title="Rated 4 out of 5"><span class="w_80per"><strong class="rating">4</strong> out of 5</span></div>
                                                                            </div>
                                                                            <!-- /.post_header -->
                                                                            <span class="price">
                                                                                <span class="woocs_price_code"><span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">59<span class="no-decimals">.000</span></span>&ndash;<span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">65<span class="no-decimals">.000</span></span>
                                                                                </span>
                                                                            </span>
                                                                            <a  href="shop-single" class="button product_type_variable add_to_cart_button">Comprar Ya</a> 
                                                                        </div>
                                                                        <!-- /.post_data -->
                                                                    </div>
                                                                    <!-- /.post_item -->
                                                                </li>
                                                                <li class="product type-product wcspt-has-gallery">
                                                                    <div class="post_item post_layout_thumbs">
                                                                        <div class="post_featured hover_shop_buttons">
                                                                            <a href="shop-single" class="wcspt-img-link">
                                                                                <img src="images/product-15-300x410.jpg" alt="product-15" title="product-15" />
                                                                                <img src="images/product-13-300x410.jpg" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" /> 
                                                                            </a>
                                                                            <div class="mask"></div>
                                                                            <div class="icons">
                                                                                <a href="shop-single" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable">Comprar Ya</a>
                                                                                <a href="shop-single" class="shop_link button icon-link">Detallar</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.post_featured -->
                                                                        <div class="post_data">
                                                                            <div class="post_header entry-header">
                                                                                <h3><a href="shop-single">Crochet Lace Triangle Bralette</a></h3>
                                                                            </div>
                                                                            <!-- /.post_header -->
                                                                            <span class="price">
                                                                                <span class="woocs_price_code"><span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">79<span class="no-decimals">.000</span></span>&ndash;<span class="woocommerce-Price-currencySymbol">&#36;</span><span class="amount">85<span class="no-decimals">.000</span></span>
                                                                                </span>
                                                                            </span>
                                                                            <a href="shop-single" class="button product_type_variable add_to_cart_button">Comprar Ya</a> 
                                                                        </div>
                                                                        <!-- /.post_data -->
                                                                    </div>
                                                                    <!-- /.post_item -->
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>  
                                    <section>
                                        <div class="content_container">
                                            <div class="column-row" data-animation="animated fadeInUp normal">
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                    <div class="column-inner">
                                                        <div class="empty_space h-2em"><span class="empty_space_inner"></span></div>
                                                        <div class="scheme_dark sc_promo sc_promo_default extra-margin sc_promo_size_large sc_promo_image_position_left">
                                                            <div class="sc_promo_image bg_promo-4 w_50per l_0"></div>
                                                            <div class="sc_promo_text w_50per f_right">
                                                                <div class="sc_promo_text_inner sc_align_center bg_pink">
                                                                    <img class="top_promo_image" src="images/promo.png" alt="">
                                                                    <h2 class="sc_item_title sc_promo_title sc_align_default sc_item_title_style_default" style="font-size:5em;">Descubre tu<br />Encanto</h2>
                                                                    <div class="sc_item_descr sc_promo_descr sc_align_default">Consigue el estilo ideal para ti <br> con nuestro asesoramiento personalizado</div>
                                                                    <div class="sc_item_button sc_item_button_simple sc_promo_button sc_align_default sc_button_wrap">
                                                                        <a href="https://wa.me/573115216528" target="_blank" class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_left">
                                                                            <span class="sc_button_text"><span class="sc_button_title">Hablar con una asesora</span></span><!-- /.sc_button_text -->
                                                                        </a>
                                                                        <!-- /.sc_button -->
                                                                    </div>
                                                                    <!-- /.sc_item_button sc_item_button_simple sc_promo_button sc_align_default -->
                                                                </div>
                                                            </div>
                                                            <!-- /.sc_promo_text -->
                                                        </div>
                                                        <!-- /.sc_promo -->
                                                    </div>
                                                </div> 
                                            </div>       
                                        </div>                      
                                    </section>
                                    <section>
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">   
                                                    <div class="column-inner">
                                                        <div class="empty_space hide_on_mobile h-2em"><span class="empty_space_inner"></span></div>
                                                        <div class="empty_space h-4_3em"><span class="empty_space_inner"></span></div>
                                                        <div class="sc_blogger sc_blogger_plain" data-slides-per-view="4" data-slides-min-width="150">
                                                            <h2 class="sc_item_title sc_blogger_title sc_align_center sc_item_title_style_default">Artículos</h2>
                                                            <div class="sc_blogger_columns sc_item_columns trx_addons_columns_wrap">
                                                                <div class="trx_addons_column-1_4">
                                                                    <div class="sc_blogger_item post type-post">
                                                                        <div class="sc_blogger_item_content entry-content">
                                                                            <h4 class="sc_blogger_item_title entry-title">
                                                                                <a href="post-standart" >Sin camisa no hay problema</a>
                                                                            </h4></div>
                                                                        <!-- .entry-content -->
                                                                        <div class="sc_blogger_item_excerpt">
                                                                            <div class="sc_blogger_item_excerpt_text">
                                                                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore&hellip;</p>
                                                                            </div>
                                                                            <div class="sc_blogger_item_button sc_item_button">
                                                                                <a href="post-standart" class="sc_button sc_button_simple">Leer más</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- .sc_blogger_item_excerpt -->
                                                                    </div>
                                                                    <!-- .sc_blogger_item -->
                                                                </div><div class="trx_addons_column-1_4">
                                                                    <div class="sc_blogger_item post type-post">
                                                                        <div class="sc_blogger_item_content entry-content">
                                                                            <h4 class="sc_blogger_item_title entry-title">
                                                                                <a href="post-standart">Experiencia emocional del Balconette Bra</a>
                                                                            </h4>
                                                                        </div>
                                                                        <!-- .entry-content -->
                                                                        <div class="sc_blogger_item_excerpt">
                                                                            <div class="sc_blogger_item_excerpt_text">
                                                                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore&hellip;</p>
                                                                            </div>
                                                                            <div class="sc_blogger_item_button sc_item_button">
                                                                                <a href="post-standart" class="sc_button sc_button_simple">Leer más</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- .sc_blogger_item_excerpt -->
                                                                    </div>
                                                                    <!-- .sc_blogger_item -->
                                                                </div><div class="trx_addons_column-1_4">
                                                                    <div class="sc_blogger_item post type-post">
                                                                        <div class="sc_blogger_item_content entry-content">
                                                                            <h4 class="sc_blogger_item_title entry-title">
                                                                                <a href="post-standart">Compra hoy y recibe en 48 horas</a>
                                                                            </h4>
                                                                        </div>
                                                                        <!-- .entry-content -->
                                                                        <div class="sc_blogger_item_excerpt">
                                                                            <div class="sc_blogger_item_excerpt_text">
                                                                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore&hellip;</p>
                                                                            </div>
                                                                            <div class="sc_blogger_item_button sc_item_button">
                                                                                <a href="post-standart" class="sc_button sc_button_simple">Leer más</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- .sc_blogger_item_excerpt -->
                                                                    </div>
                                                                    <!-- .sc_blogger_item -->
                                                                </div><div class="trx_addons_column-1_4">
                                                                    <div class="sc_blogger_item post type-post">
                                                                        <div class="sc_blogger_item_content entry-content">
                                                                            <h4 class="sc_blogger_item_title entry-title">
                                                                                <a href="post-standart" >Sé la primera en conocer nuestra nueva colección</a>
                                                                            </h4>
                                                                        </div>
                                                                        <!-- .entry-content -->
                                                                        <div class="sc_blogger_item_excerpt">
                                                                            <div class="sc_blogger_item_excerpt_text">
                                                                                <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore&hellip;</p>
                                                                            </div>
                                                                            <div class="sc_blogger_item_button sc_item_button">
                                                                                <a href="post-standart" class="sc_button sc_button_simple">Leer más</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- .sc_blogger_item_excerpt -->
                                                                    </div>
                                                                    <!-- .sc_blogger_item -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.sc_blogger -->
                                                        <div class="empty_space h-5em"><span class="empty_space_inner"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>  
                                    <section>
                                        <div class="content_container">
                                            <div class="column-row" data-animation="animated fadeInUp normal">
                                                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                    <div class="column-inner">
                                                        <figure class="align_center">
                                                            <a href="shop">
                                                                <img src="images/home-style-bg.jpg" alt="" />
                                                            </a>
                                                        </figure>
                                                        <div class="empty_space h-4_3em"><span class="empty_space_inner"></span></div>
                                                        <div class="empty_space  hide_on_mobile h-2em"><span class="empty_space_inner"></span></div>
                                                    </div>
                                                </div> 
                                            </div>       
                                        </div>                      
                                    </section>
                                    <section class="no_pt">
                                        <div class="content_container">
                                            <div class="column_row"> 
                                                <div class="column-inner">
                                                    <div class="columns_wrap">
                                                        <div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner">
                                                                <div class="text_column demo-title">
                                                                    <h2 class="fw_400 fsz-3_2em lh-1em m_0">Encuentra</h2>
                                                                    <h2 class="fsz-4_53 lh-1em m_0" style="font-size: 4em;">Lencería</h2>
                                                                    <h5 class="fw_400 fsz_12px mt-13px tt_upper lspace-1px"><span class="grey">selecciona una categoría</span></h5> 
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner pt-5px pb-1em pl-3em pl_mid pl_xs">
                                                                <div class="text_column inverse_link_color">
                                                                    <div class="tt_upper fsz_11px lspace-1px lh-25px"><a href="#">Babydolls &amp; Slips</a>
                                                                        <br />
                                                                        <a href="#">Teddies &amp; Bodysuits</a>
                                                                        <br />
                                                                        <a href="#">Corsets &amp; Bustiers</a>
                                                                        <br />
                                                                        <a href="#">Kimonos</a>
                                                                        <br />
                                                                        <a href="#">Sport Bras</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner pt-5px pb-1em pl-3em pl_mid pl_xs">
                                                                <div class="text_column inverse_link_color">
                                                                    <div class="tt_upper fsz_11px lspace-1px lh-25px"><a href="#">New Arrivals</a>
                                                                        <br />
                                                                        <a href="#">Sexy Little Things</a>
                                                                        <br />
                                                                        <a href="#">Shapes Of The Season</a>
                                                                        <br />
                                                                        <a href="#">Little Black Lingerie</a>
                                                                        <br />
                                                                        <a href="#">Bridal Boutique</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left scr_xs">
                                                            <div class="column-inner pt-5px pb-1em pl-3em pl_mid pl_xs">
                                                                <div class="text_column inverse_link_color">
                                                                    <div class="tt_upper fsz_11px lspace-1px lh-25px"><a href="#">Cheekies &amp; Cheekinis</a>
                                                                        <br />
                                                                        <a href="#">Thongs &amp; V-Strings</a>
                                                                        <br />
                                                                        <a href="#">Shorties &amp; Boyshorts</a>
                                                                        <br />
                                                                        <a href="#">Hiphuggers</a>
                                                                        <br />
                                                                        <a href="#">Bikinis</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- .entry-content -->
                            </article>
                        </div>
                        <!-- </.content> -->
                    </div>
                    <!-- </.content_wrap> -->
                </div>
                <!-- </.page_content_wrap> -->
                
<Footer>
    <section>
        <div class="content_container">
            <div class="column_row">
                <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                    <div class="column-inner">
                        <div class="text_column">
                            <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                                <div class="sc_content_container">
                                    <div class="empty_space h-5em h_xs"><span class="empty_space_inner"></span></div>
                                    <div class="text_column">
                                        <div class="fsz-1_2em fw_600 lspace-0_5px tt_upper"><span class="dark">Siguenos en</span> 
                                            <span class="accent"><a class="accent-imp" href="https://nstorrodrguez156446.invisionapp.com/console/share/A2H75FG3ZPE/988846339">@instagram</a></span>
                                        </div>
                                    </div>
                                    <div class="empty_space h-3_5em"><span class="empty_space_inner"></span></div>
                                </div>
                            </div>
                            <!-- /.sc_content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inst_section">
        <div class="content_container">
            <div class="column_row"> 
                <div class="column-inner">
                    <div class="columns_wrap">
                        <div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                            <div class="column-inner">
                                <div class="text_column">
                                    <figure>
                                        <a class="inst_hover" href="#"><img src="images/inst1.jpg" alt="" /></a>
                                    </figure>
                                </div>
                            </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="images/inst2.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="images/inst3.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div><div class="column_container column-1_4 sc_layouts_column_icons_position_left xs_1-4">
                        <div class="column-inner">
                            <div class="text_column">
                                <figure>
                                    <a class="inst_hover" href="#"><img src="images/inst4.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Footer>
                <!-- /.footer_wrap -->
            </div>
            <!-- /.page_wrap -->
        </div>
        <!-- /.body_wrap -->

        <div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
            <ul class="trx_addons_tabs_titles">
                <li class="trx_addons_tabs_title trx_addons_tabs_title_login">
                    <a href="#trx_addons_login_content"><i class="trx_addons_icon-lock-open"></i>Login</a>
                </li><li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
                <a href="#trx_addons_register_content"><i class="trx_addons_icon-user-plus"></i>Register</a>
                </li>
            </ul>	
            <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
                <div>
                    <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
                        <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="#" method="post" name="trx_addons_login_form">
                            <input type="hidden" id="redirect_to" name="redirect_to" value="">
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                                <label class="sc_form_field sc_form_field_log required">
                                    <span class="sc_form_field_wrap"><input type="text" name="log" id="log" value="" >
                                        <span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i>
                                            <span class="sc_form_field_content" data-content="Login">Login</span>
                                        </span>	
                                    </span>
                                </label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                                <label class="sc_form_field sc_form_field_pwd required">
                                    <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="" >
                                        <span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i>
                                            <span class="sc_form_field_content" data-content="Password">Password</span>
                                        </span>	
                                    </span>
                                </label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                                <a href="#" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
                                <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                <label for="rememberme"> Remember me</label>
                            </div>
                            <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                                <input type="submit" class="submit_button" value="Login">
                            </div>
                            <div class="trx_addons_message_box sc_form_result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type='text/javascript' src='js/vendor/jquery-3.2.1.min.js'></script>
        <script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
        <script type='text/javascript' src='js/vendor/skip-link-focus-fix.js'></script>
        <script type='text/javascript' src='js/custom/shortcodes.js'></script>
        <script type='text/javascript' src='js/vendor/superfish.js'></script>
        <script type='text/javascript' src='js/custom/_main.js'></script>
        <script type='text/javascript' src='js/custom/_utils.js'></script>
        <script type='text/javascript' src='js/custom/_init.js'></script>
        <script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
        <script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
        <script type='text/javascript' src='js/vendor/woocommerce-currency-switcher/js/chosen/chosen.jquery.min.js'></script>
        <script type='text/javascript' src='js/vendor/woocommerce-currency-switcher/js/front.js'></script>
        
        <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
    </body>
</html>  
