---
---
<footer class="footer_wrap footer_custom scheme_side">

    <slot>

    </slot>
    <section>   
        <div class="column_row sc_layouts_row sc_layouts_row_type_normal">
            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                <div class="column-inner">
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="empty_space h-5_3em"><span class="empty_space_inner"></span></div>
                            <section class="cta3-container">
                                <div class="general cta3 cta3-style-classic cta3-shape-square cta3-align-left cta3-color-classic cta3-icon-size-md cta3-actions-right brd-3px_red">
                                    <div class="cta3_content-container">
                                        <div class="cta3-content">
                                            <div class="cta3-content-header">
                                                <h2>Mantengámonos conectadas</h2>									
                                            </div>
                                            <p>Inscríbete hoy mismo en nuestro boletín y recibe un <br> <em>15% de DESCUENTO</em> en tu primera compra, además de recibir nuestras últimas noticias, consejos y ofertas exclusivas.</p> 
                                        </div>
                                        <div class="cta3-actions">
                                            <div class="btn3-container btn3-inline">
                                                <a class="general btn3 btn3-size-md btn3-shape-square btn3-style-classic btn3-color-grey" href="#" title="">Inscríbete</a>
                                            </div>
                                        </div>		
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-2em" ><span class="empty_space_inner"></span></div>
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="sc_layouts_item">
                                <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_fade" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <ul id="menu_footer" class="sc_layouts_menu_nav menu_footer_nav">
                                        <li class="menu-item menu-item-home current-menu-item">
                                            <a href="index">
                                                <span>Inicio</span>
                                            </a>
                                        </li><li class="menu-item">
                                        <a href="shop">
                                            <span>Lencería</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="about-style-1">
                                            <span>Quiénes somos</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="shop">
                                            <span>Tienda</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="blog-streampage">
                                            <span>Blog</span>
                                        </a>
                                        </li><li class="menu-item">
                                        <a href="contacts">
                                            <span>Contactanos</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /.sc_layouts_menu -->
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-2_2em" ><span class="empty_space_inner"></span></div>
                    <div class="sc_content sc_content_default sc_float_center sc_align_center sc_content_width_1_1">
                        <div class="sc_content_container">
                            <div class="text_column">
                                <div class="widget widget_text">			
                                    <div class="textwidget">
                                        <div class="fsz_13px fw_400">&copy;2024 Divina Lencería. Todos los derechos reservados. <a href="#" >Terminos de Uso</a> y <a href="#">Política de Privacidad</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.sc_content -->
                    <div class="empty_space h-3_2em" ><span class="empty_space_inner"></span></div>
                    <div class="empty_space  hide_on_mobile h-3em"><span class="empty_space_inner"></span></div>
                </div>
            </div>
        </div>
    </section> 
</footer>